{% extends 'rango/base.html' %}

{% block title %}
{{ category.name }}
{% endblock %}

{% block body_block %}
<h1>{{ category.name }}</h1>

{% if category %}
    {% if pages %}
        <ul>
        {% for page in pages %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
                ({{ page.views }} views)
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No pages currently in this category.</strong>
    {% endif %}

    <br />
    <a href="{% url 'rango:add_page' category.slug %}">Add Page</a>

{% else %}
    The specified category does not exist.
{% endif %}

{% endblock %}
